<!DOCTYPE html>
<html>

  <head>
    
    <meta charset="utf-8">
    <title>Foundations of Computer Science (Spring 2023)</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/static/main.css" type="text/css">
    <link rel="stylesheet" href="/courses/course.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">

    <script src="/static/smooth-scroll.js"></script>

    <style>
      body {
          font-size: 120%;
      }

      section {
          border-top: 1px solid rgb(90, 0, 0);
      }
    </style>

  </head>

  <body>

    <nav>

      <div class="home">
	<a href="/"><img src="/home.png" style="height: 1.6em;"></a>
      </div>

      <ul>
	<li><a class="smooth-scroll" href="#main"><b>Foundations of Computer Science SP23</b></a></li> 
	<li><a class="smooth-scroll" href="#info">Course Info</a></li>
	<li><a class="smooth-scroll" href="#lectures">Lectures</a></li>
	<li><a class="smooth-scroll" href="#homeworks">Homeworks</a></li>
      </ul>
    </nav>


    {{ .Body }}
    
  </body>
</html>
