<!DOCTYPE html>
<html>

  <head>
    
    <meta charset="utf-8">
    <title>Riccardo Pucella</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/static/main.css" type="text/css">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet">
  </head>

  <body>
  
    <nav>

      <!--
           Hamburger menu implementation adapted from
           https://codepen.io/erikterwan/pen/EVzeRP
      -->

      <input type="checkbox" />

      <span></span>
      <span></span>
      <span></span>

      <ul>
	<li id="home"><a href="/">Riccardo Pucella</a></li>
	<li id="teaching"><a href="/courses">Teaching</a></li>
	<li id="writing"><a href="/papers">Writing</a></li>
 	<li id="blogging"><a href="/blog">Blogging</a></li>
      </ul>

    </nav>

    {{ .Body }}
    
  </body>
  
</html>
