div.box-layout {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

div.box-layout {
    overflow: auto;
}

div.box-layout * {
    flex-shrink: 0;
    box-sizing: border-box;
    overflow: hidden;
}

div.box-hz {
    display: flex;
    flex-direction: row;
}

div.box-vt {
    display: flex;
    flex-direction: column;
}

