
/* Bit of a hack: the new navigation bar with the hamburger menu
   breaks the course website menus, so this disables them for smaller
   screens */

@media only screen and (max-width: 1280px) {
    nav {
        display: none;
    }
}


nav { 
    position: fixed;
    z-index: 2;
    text-transform: uppercase;
    left: 0;
    top: 0;
    min-width: 58em;
    width: 100%;
    background: rgb(90,0,0); /* #cccccc; */
    font-size: 100%;
    padding: 0;   /* needed? */
    margin: 0 0 0 0;
    text-align: center;
    height: 3em;
}

nav ul { 
    line-height: 1.6em;
    list-style-type: none; 
    margin: 0;
    padding: 0;
    vertical-align: top;
    height: 3em;
}

nav ul li {
    display: inline-block;
    vertical-align: top;
}

nav li:hover {
    background: rgb(150,0,0);
}

nav a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 0.7em 2em;
    line-height: 100%;
}

nav a:link { 
    font-weight: normal;
    color: rgb(255, 255, 255);
    opacity: 1;
}

nav a:visited {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav a:hover {
    text-decoration: none;
}

nav .home {
    height: 3em;
    position: fixed;
    z-index: 5;
    left: 0em;
    top: 0;
    display: inline;
    padding: 0;
    margin: 0;
}

nav .home:hover {
    background: rgb(150,0,0);
}

nav .home a {
    padding: 0.7em 1em 0.3em 1em;
}

main {
    /* Additional space of navbar overlay */
    margin-top: 5em;
}


ul.lectures p  {
    margin-top: 7px;
    margin-bottom: 7px;
}

ul.lectures {
    list-style-type: none; 
    padding-left: 0;
    margin: 0;
}

ul.lectures > li {
    margin-top: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

div.lect {
    padding-top: 0;
    padding-left: 3em;
    margin-top:0;
}
